/**
 * Theme Name: Eat Wheat Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.0
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  font-family: 'Timeout';
  src: url("static/fonts/Timeout-Regular.eot");
  src: url("static/fonts/Timeout-Regular.eot?#iefix") format("embedded-opentype"), url("static/fonts/Timeout-Regular.woff") format("woff"), url("static/fonts/Timeout-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.small-container {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto; }
  .small-container:after {
    content: " ";
    display: block;
    clear: both; }

@media screen and (min-width: 600px) {
  .content-column:not(.last_column) {
    padding-right: 2em; } }

.ginput_container .ginput_container_repeater-end > span {
  margin: 1rem;
  display: inline-block !important; }
  .ginput_container .ginput_container_repeater-end > span img {
    vertical-align: text-bottom; }

.table-scroll {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  .table-scroll:after, .table-scroll:before {
    content: 'Scroll for more information \f105';
    font-family: "FontAwesome", "mr-eaves-modern", Arial, sans-serif;
    position: absolute;
    right: 0;
    display: none; }
    @media (max-width: 75em) {
      .table-scroll:after, .table-scroll:before {
        display: block; } }
  .table-scroll:after {
    bottom: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  .table-scroll:before {
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

.give-padding {
  padding-left: .75rem;
  padding-right: .75rem; }

.fancy-heading {
  font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
  font-weight: normal; }

.v-align-middle * {
  vertical-align: middle; }

.centered-text {
  text-align: center; }

.right-text {
  text-align: right; }

.align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .align-center {
      display: block; } }

.alignright {
  float: right; }

img.aligncenter {
  display: block;
  margin: 1.5em auto;
  clear: both;
  width: 100%; }

.alignnone {
  float: none;
  display: block;
  width: 100%; }
  .alignnone a.imgwrap {
    display: block; }
  .alignnone img {
    display: block;
    margin: 0 auto; }

img.alignnone {
  display: block;
  clear: both;
  margin: 1.5em auto; }

.alignleft {
  float: left; }

img.alignright {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

img.alignleft {
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

.wp-caption {
  background: rgba(0, 0, 0, 0.25);
  padding: 1.5em 1em;
  margin: 1.5rem 0; }
  .wp-caption:after {
    content: "";
    display: table;
    clear: both; }
  .wp-caption .wp-caption-text {
    margin: 0;
    margin-top: 1.5em; }

.full-width {
  margin-left: -30vw;
  margin-right: -30vw;
  padding-left: 30vw;
  padding-right: 30vw;
  overflow: hidden; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #333;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.magnific {
  position: relative;
  background: #FFF;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 0 auto; }
  .magnific .mfp-close {
    margin: 0; }

.mfp-content {
  -webkit-animation: slideInUp 350ms 1;
          animation: slideInUp 350ms 1; }

.mfp-close {
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .mfp-close:hover {
    box-shadow: none; }

.mfp-bg.mfp-removing {
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp; }

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

.uppercase {
  text-transform: uppercase !important; }

.bold {
  font-weight: 700 !important; }

.white-text {
  color: #FFF; }

.gold-text {
  color: #C6893E; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

@media (max-width: 56.25em) {
  .hide-mobile {
    display: none; } }

.u-fs-4 {
  font-size: 4rem; }

.u-block {
  display: block; }

html, body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  font-family: "mr-eaves-modern", Arial, sans-serif;
  overflow-x: hidden;
  color: #000;
  background: #FFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "mr-eaves-modern", Arial, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

#header {
  background-color: #000;
  position: relative;
  padding-bottom: 4rem;
  padding-top: 0;
  margin-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1; }
  #header:before {
    content: '';
    display: block;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75), transparent);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
  #header:after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    bottom: -2px;
    height: 35px;
    background-size: cover;
    background-image: url("static/images/paper-texture.png");
    background-repeat: no-repeat; }
  #header #primary-menu {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative; }
    @media (min-width: 72.5em) {
      #header #primary-menu {
        -webkit-flex-wrap: no-wrap;
                flex-wrap: no-wrap; } }
    #header #primary-menu .menu-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              flex: 0 0 50%;
      list-style: none;
      text-align: center;
      padding: .5rem 1rem; }
      @media (min-width: 72.5em) {
        #header #primary-menu .menu-item {
          -webkit-box-flex: 0;
          -webkit-flex: 0 1 auto;
                  flex: 0 1 auto;
          text-align: left;
          padding: 0; } }
      #header #primary-menu .menu-item > a {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
                align-items: center;
        text-transform: uppercase;
        color: #FFF;
        font-size: .75rem;
        padding: .5rem;
        text-decoration: none;
        font-family: "mr-eaves-modern", Arial, sans-serif;
        line-height: 1;
        background: #FFF;
        color: #000;
        width: 90%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center; }
        @media (min-width: 72.5em) {
          #header #primary-menu .menu-item > a {
            padding: 1rem .75rem;
            font-size: 1.5rem;
            background: none;
            color: #FFF;
            width: auto;
            -webkit-box-pack: initial;
            -webkit-justify-content: initial;
                    justify-content: initial; }
            #header #primary-menu .menu-item > a:before {
              content: '';
              display: inline-block;
              width: 1.75em;
              height: 1px;
              background: currentColor;
              margin-right: 1em; } }
        @media (min-width: 79.375em) {
          #header #primary-menu .menu-item > a {
            padding: 2rem; } }
        #header #primary-menu .menu-item > a:hover {
          color: #C6893E; }
    #header #primary-menu .menu-divider-item {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
              order: -1;
      width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
              flex: 0 0 100%;
      margin: .5rem 4rem 0;
      list-style: none; }
      @media (min-width: 72.5em) {
        #header #primary-menu .menu-divider-item {
          -webkit-box-ordinal-group: initial;
          -webkit-order: initial;
                  order: initial;
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 18rem;
                  flex: 0 0 18rem;
          margin: 1rem 4rem 2rem; } }
      #header #primary-menu .menu-divider-item a {
        display: block;
        max-width: 18rem;
        margin: 0 auto; }
      #header #primary-menu .menu-divider-item svg {
        width: 100%;
        height: auto;
        max-height: 4rem; }
        @media (min-width: 72.5em) {
          #header #primary-menu .menu-divider-item svg {
            max-height: none; } }
    #header #primary-menu .current-menu-item {
      background: none;
      border-radius: 0 0 1rem 1rem; }
      #header #primary-menu .current-menu-item > a {
        background: #C6893E;
        color: #FFF; }
      @media (min-width: 72.5em) {
        #header #primary-menu .current-menu-item {
          background: #FFF; }
          #header #primary-menu .current-menu-item > a {
            background: none;
            color: #C6893E; } }

#footer {
  background: #000;
  background-image: url("static/images/footer-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #FFF;
  position: relative;
  padding-top: 8rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  body.single-story #footer, body.single-recipe #footer, body.single-learn #footer, body.single-inspiration #footer {
    background-image: url("static/images/footer-bg-large.jpg");
    margin-top: 4rem; }
  #footer:before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: -2px;
    height: 35px;
    background-size: contain;
    background-image: url("static/images/paper-texture-black.png");
    background-repeat: repeat no-repeat; }
  #footer .left-wrap {
    text-align: center; }
    @media (min-width: 56.25em) {
      #footer .left-wrap {
        text-align: left;
        width: 40.4255319149%;
        float: left;
        margin-right: 2.1276595745%; } }
    @media (min-width: 81.25em) {
      #footer .left-wrap {
        padding-left: 3rem;
        margin-right: 0;
        padding-right: 0; } }
  @media (min-width: 56.25em) {
    #footer .logo-wrapper {
      width: 14.8936170213%;
      float: left;
      margin-right: 2.1276595745%; } }
  #footer .credits {
    font-size: .625rem; }
  #footer .join-cta {
    text-transform: uppercase; }
  #footer .footer-item-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
  #footer .social-media {
    text-align: center; }
    @media (min-width: 56.25em) {
      #footer .social-media {
        text-align: right;
        width: 23.4042553191%;
        float: right;
        margin-right: 0;
        margin-left: 8.5106382979%; } }
    #footer .social-media .social-icon {
      margin: .5rem;
      display: inline-block;
      max-width: 2rem; }
      @media (min-width: 77.5em) {
        #footer .social-media .social-icon {
          max-width: none; } }
  #footer .footer-affiliate {
    max-width: 7rem; }
  #footer .footer-affiliate-link {
    display: inline-block; }
    #footer .footer-affiliate-link:last-child {
      padding-left: 3rem; }
    @media (min-width: 81.25em) {
      #footer .footer-affiliate-link {
        padding-left: 3rem; } }

#footer .agency {
  padding-bottom: 1rem;
  font-size: .75rem;
  margin-top: 2rem; }

a {
  text-decoration: none;
  color: #C6893E; }
  a:hover {
    text-decoration: underline; }

.gold-text {
  color: #C6893E; }

.no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1; }

.line-link {
  display: inline-block; }
  .line-link:before {
    content: '';
    display: inline-block;
    width: 1.25em;
    height: 1px;
    background: currentColor;
    margin-right: .25em; }

[type="text/template"] {
  display: none; }

a.logo {
  display: block; }

.table-row {
  display: table-row; }
  .table-row > * {
    display: table-cell; }

.narrow-container {
  max-width: 960px;
  margin: 0 auto; }

.top-bottom-padding {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.top-bottom-padding-small {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.mfp-content [type="text/template"] {
  display: block; }

.mfp {
  background: #FFF;
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
  padding: 2rem; }

.mfp-close {
  margin: 0; }

.cta-card {
  box-shadow: 7px 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
  background: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .cta-card:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 56.25em) {
    .cta-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: none;
              flex-wrap: none; } }

.cta-card__image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 300px; }
  @media (min-width: 56.25em) {
    .cta-card__image {
      min-height: 450px;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
              order: 2;
      width: 57.4468085106%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 56.25em) {
    .cta-card--image-left .cta-card__image {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
              order: -1;
      width: 57.4468085106%;
      float: left;
      margin-right: 2.1276595745%; } }

.cta-card__info {
  width: 82.9787234043%;
  float: left;
  margin-right: 2.1276595745%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
          order: 1;
  -webkit-align-self: center;
          align-self: center;
  padding: 1rem .5rem; }
  .cta-card__info p {
    font-size: 1.2rem; }
  @media (min-width: 56.25em) {
    .cta-card__info {
      padding: 2rem 4rem;
      width: 40.4255319149%;
      float: left;
      margin-right: 2.1276595745%; } }
  @media (min-width: 56.25em) {
    .cta-card--image-left .cta-card__info {
      width: 40.4255319149%;
      float: right;
      margin-right: 0; } }

.cta-card__info-heading {
  text-align: center;
  color: #C6893E;
  line-height: 1;
  font-size: 3rem; }
  @media (min-width: 56.25em) {
    .cta-card__info-heading {
      font-size: 5rem; } }

.article-content, body.mce-content-body.post-type-story, body.mce-content-body.post-type-learn {
  margin: 0 auto;
  max-width: 60rem; }
  .article-content img.aligncenter, body.mce-content-body.post-type-story img.aligncenter, body.mce-content-body.post-type-learn img.aligncenter {
    margin: 4rem 0; }
    @media (min-width: 56.25em) {
      .article-content img.aligncenter, body.mce-content-body.post-type-story img.aligncenter, body.mce-content-body.post-type-learn img.aligncenter {
        max-width: none;
        width: calc(100% + 12rem);
        margin: 4rem -6rem; } }
  .article-content img.alignright, body.mce-content-body.post-type-story img.alignright, body.mce-content-body.post-type-learn img.alignright {
    margin: 2rem; }
    @media (min-width: 56.25em) {
      .article-content img.alignright, body.mce-content-body.post-type-story img.alignright, body.mce-content-body.post-type-learn img.alignright {
        margin: 2rem -25% 2rem 4rem; } }
  .article-content img.alignleft, body.mce-content-body.post-type-story img.alignleft, body.mce-content-body.post-type-learn img.alignleft {
    margin: 2rem; }
    @media (min-width: 56.25em) {
      .article-content img.alignleft, body.mce-content-body.post-type-story img.alignleft, body.mce-content-body.post-type-learn img.alignleft {
        margin: 2rem 4rem 2rem -25%; } }
  .article-content hr, body.mce-content-body.post-type-story hr, body.mce-content-body.post-type-learn hr {
    width: 75%;
    margin: 4rem auto; }
  .article-content blockquote, body.mce-content-body.post-type-story blockquote, body.mce-content-body.post-type-learn blockquote {
    color: #C6893E;
    font-size: 3rem;
    line-height: 1;
    font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
    text-align: center;
    margin: 4rem 0; }
  .article-content .article-body, body.mce-content-body.post-type-story .article-body, body.mce-content-body.post-type-learn .article-body {
    font-size: 1.3rem; }

.page-title {
  color: #C6893E;
  font-size: 5rem;
  line-height: 1;
  font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
  text-align: center;
  margin: 0; }

.page-subtitle {
  font-size: 1.25rem;
  font-family: "mr-eaves-modern", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem; }

.button, a.button, input[type="submit"] {
  height: auto;
  text-transform: uppercase;
  font-weight: 400;
  vertical-align: middle;
  white-space: normal;
  line-height: 1;
  background: transparent;
  border-radius: 999px;
  padding: 1em 2em;
  color: #C6893E;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  font-family: "mr-eaves-modern", Arial, sans-serif;
  -webkit-transition: all 50ms linear;
  transition: all 50ms linear;
  border: 1px solid #C6893E;
  cursor: pointer; }
  .button:hover, .button:active, .button:focus, a.button:hover, a.button:active, a.button:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background-color: #C6893E;
    color: #FFF; }
  .button:focus, a.button:focus, input[type="submit"]:focus {
    outline: 1px dashed black; }
  .button.is-large, a.button.is-large, input[type="submit"].is-large {
    font-size: 1.25em; }

#content {
  padding-left: .5rem;
  padding-right: .5rem; }
  @media (min-width: 90em) {
    #content {
      padding-left: 0;
      padding-right: 0; } }

#tinymce.wp-editor {
  padding: 1em !important;
  max-width: 1200px;
  margin: 0 auto; }
  #tinymce.wp-editor img.aligncenter {
    max-width: none;
    margin: 4rem 0; }
    @media (min-width: 56.25em) {
      #tinymce.wp-editor img.aligncenter {
        width: calc(100% + 12rem);
        margin: 4rem -6rem; } }
  #tinymce.wp-editor img.alignright {
    margin: 2rem; }
    @media (min-width: 56.25em) {
      #tinymce.wp-editor img.alignright {
        margin: 2rem -25% 2rem 4rem; } }
  #tinymce.wp-editor hr {
    width: 75%;
    margin: 4rem auto; }
  #tinymce.wp-editor blockquote {
    color: #C6893E;
    font-size: 3rem;
    line-height: 1;
    font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
    text-align: center;
    margin: 4rem 0; }

.post-thumbnail {
  width: 100%;
  display: block; }

.pagination {
  text-align: center;
  margin: 4em 0; }
  .pagination .pages {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .pagination .pages li {
      display: inline-block; }
      .pagination .pages li + li {
        margin-left: 1em; }
      .pagination .pages li a {
        display: inline;
        padding: 0 .25em; }
  .pagination .next {
    margin-left: 1em; }

.pagination:empty {
  display: none; }

.comments {
  margin-top: 4em; }

#commentform label {
  display: block; }

#commentform input, #commentform textarea {
  width: 100%;
  display: block; }

#commentform .comment-form-comment label, #commentform textarea {
  display: block; }

#commentform .required {
  color: #ff6347; }

#commentform .comment-form-url {
  display: none; }

.home .home-heading {
  color: #FFF;
  line-height: 1;
  text-align: right;
  padding: 4rem 1rem;
  font-size: 14vw;
  white-space: nowrap; }
  @media (min-width: 56.25em) {
    .home .home-heading {
      font-size: 7.5rem;
      padding: 8rem 1rem; } }

.home #header {
  padding-bottom: 24rem;
  background-color: #000;
  background-image: url("static/images/home-bg.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; }
  .home #header:before {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.home #footer {
  padding-top: 14rem;
  margin-top: -10rem; }

.home .home-cta-cards {
  margin-top: -24rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  z-index: 10; }
  .home .home-cta-cards:before {
    content: '';
    position: absolute;
    background: url("static/images/wheat-left.png");
    width: 60%;
    padding-bottom: 50%;
    height: 0;
    left: -250px;
    top: 32rem;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .25;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  .home .home-cta-cards:after {
    content: '';
    position: absolute;
    background: url("static/images/wheat-right.png");
    width: 60%;
    padding-bottom: 50%;
    height: 0;
    right: -250px;
    bottom: 16rem;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .25;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    background-position: right center; }

.container-player {
  overflow: none;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  position: relative; }

.container-player.fullscreen-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; }

.container-player .container-player-outer {
  position: relative;
  width: 100%;
  height: 100%; }

.container-player .container-player-inner,
.container-player .container-player-poster {
  position: absolute;
  z-index: 0; }

.container-player .container-player-poster {
  background-size: cover;
  z-index: 0; }

.container-player.youtube iframe, .container-player.vimeo iframe {
  opacity: 0; }

.container-player.youtube.transition-in.playing iframe,
.container-player.youtube.transition-in.paused iframe, .container-player.vimeo.transition-in.playing iframe,
.container-player.vimeo.transition-in.paused iframe {
  -webkit-animation: revealVideo 1s;
  animation: revealVideo 1s; }

.container-player.youtube.playing iframe,
.container-player.youtube.paused iframe, .container-player.vimeo.playing iframe,
.container-player.vimeo.paused iframe {
  opacity: 1; }

.container-player .container-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0; }

@-webkit-keyframes revealVideo {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes revealVideo {
  0%, 50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.container-player video, .container-player iframe {
  width: 100%;
  height: 100%;
  border: none; }

/**
 * Recipes & Inspiration
 */
.single-recipe #header {
  background-color: #313131;
  background-size: initial;
  background-position: center center; }

.recipe-heading {
  color: #FFF;
  font-size: 5rem;
  line-height: 1;
  margin: 0; }

.recipe-page-title {
  color: #C6893E;
  font-family: "mr-eaves-modern", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 1rem; }

.recipe-sidebar {
  background: #C6893E;
  color: #FFF;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  min-width: 320px;
  padding: 1rem 2rem;
  margin-bottom: 4rem; }
  @media (min-width: 51.875em) {
    .recipe-sidebar {
      width: 31.914893617%;
      float: left;
      margin-right: 2.1276595745%;
      margin-bottom: 0; } }
  @media (min-width: 90em) {
    .recipe-sidebar {
      padding: 1rem 6rem; } }

.recipe-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 4rem 1rem;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

.recipe-sidebar__heading {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem; }

.recipe-content__heading {
  margin-top: 4rem;
  margin-bottom: 1rem;
  line-height: 1; }

.recipe-content {
  font-size: 1.3rem; }
  @media (min-width: 51.875em) {
    .recipe-content {
      width: 57.4468085106%;
      float: right;
      margin-right: 0; } }

.recipe-info {
  list-style: none;
  margin: 0;
  padding: 0; }
  .recipe-info__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
            align-items: baseline;
    margin-bottom: 1rem; }
    .recipe-info__item img {
      width: 1.25rem;
      vertical-align: middle;
      margin-right: .5rem; }
    .recipe-info__item span {
      vertical-align: middle; }
    .recipe-info__item span:last-child {
      text-align: right; }

.recipe-equipment {
  margin: 0;
  padding: 0;
  list-style: none; }
  .recipe-equipment li {
    text-indent: -1rem; }
  .recipe-equipment li:before {
    content: "- ";
    text-indent: -1rem; }

.ingredient-item-heading {
  text-transform: uppercase; }

.recipe-sidebar-button.button {
  background: #FFF;
  line-height: 1;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-top: 2rem; }
  .recipe-sidebar-button.button img {
    vertical-align: middle;
    margin-left: 1rem; }

.recipe-header__media {
  max-width: 920px;
  border: 0.75vw solid #FFF;
  margin: 4rem auto; }
  .recipe-header__media img {
    display: block; }

.recipe-header__story {
  color: #F3E8D0;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0 1rem; }

.reciper-header__story-link {
  text-align: center; }

.recipe-step {
  list-style: none;
  margin-bottom: 4rem; }
  .recipe-step__image {
    display: block; }

#recipe-fullscreen {
  max-width: 100%;
  min-height: 90vh;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column; }

.recipe-fullscreen-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 85vh;
          flex: 1 0 85vh;
  height: 85vh;
  padding: 2rem;
  max-height: 80vh; }
  .recipe-fullscreen-content .recipe-content__heading {
    margin: 1rem 1rem 0;
    text-align: center;
    font-size: 3rem; }

.recipe-slider {
  margin: 0;
  padding: 0;
  overflow-y: hidden; }
  .recipe-slider .recipe-step.slick-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    min-height: 50vh;
    max-height: 60vh;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    font-size: .8rem; }
    @media (min-width: 50em) {
      .recipe-slider .recipe-step.slick-slide {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
                flex-direction: row;
        min-height: 50vh;
        max-height: 60vh;
        font-size: 1rem; } }
  .recipe-slider .recipe-step__wrapper {
    max-width: 45rem; }
  .recipe-slider .recipe-step__image {
    margin-right: 2rem;
    max-width: 100%; }
    @media (min-width: 50em) {
      .recipe-slider .recipe-step__image {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
                flex: 0 0 auto;
        max-width: 60%;
        width: 100%; } }

.recipe-fullscreen-nav {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10vh;
          flex: 0 0 10vh;
  height: 10vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }
  .recipe-fullscreen-nav button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
    vertical-align: middle; }
    .recipe-fullscreen-nav button:hover {
      background: #C6893E;
      color: #FFF; }
    .recipe-fullscreen-nav button.hidden-button {
      visibility: hidden;
      pointer-events: none; }

.archive-header-text {
  font-size: 14vw;
  color: #FFF;
  margin: 0;
  line-height: 1;
  font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
  text-align: center;
  padding: 4rem 1rem; }
  @media (min-width: 56.25em) {
    .archive-header-text {
      font-size: 7.5rem; } }

.archive-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 4rem 1rem;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between; }

.archive-sidebar {
  background: #C6893E;
  color: #FFF;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 50em) {
    .archive-sidebar {
      width: 23.4042553191%;
      float: left;
      margin-right: 2.1276595745%;
      display: block;
      margin-bottom: 0; } }
  .archive-sidebar__header {
    font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin: 1rem 0; }
  .archive-sidebar .facetwp-search {
    width: 100%; }
  .archive-sidebar .facetwp-checkbox {
    margin-bottom: 1rem;
    background-size: 1rem 1rem;
    padding-left: 1.5rem;
    font-size: 1.2rem; }
  .archive-sidebar a {
    color: #FFF; }

.archive-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
          justify-content: space-around; }
  @media (min-width: 46.875em) {
    .archive-items {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
              justify-content: flex-start; } }
  @media (min-width: 50em) {
    .post-type-archive-recipe .archive-items, .search-results .archive-items {
      width: 74.4680851064%;
      float: right;
      margin-right: 0; } }

.archive-item {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  max-width: 20rem; }
  @media (min-width: 50em) {
    .archive-item {
      max-width: calc( (100% / 3 )); } }
  .archive-item__title {
    font-family: "mr-eaves-modern", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 1rem 0; }
    .archive-item__title a {
      color: #C6893E; }
  .archive-item__link {
    color: #000; }
  .archive-item__content-link {
    text-transform: uppercase;
    font-family: "mr-eaves-modern", Arial, sans-serif;
    font-size: 1.25rem; }
  .archive-item__description {
    font-weight: 300;
    font-size: 1.2rem; }

@media (min-width: 46.875em) {
  body:not([class*="paged"]) .archive-item:first-child {
    width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-top: 0; }
    body:not([class*="paged"]) .archive-item:first-child .archive-item__image-link {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
              flex: 1 0 auto;
      -webkit-flex-basis: calc((100% / 3) * 2 - 1rem);
              flex-basis: calc((100% / 3) * 2 - 1rem);
      margin-right: 3rem; }
    body:not([class*="paged"]) .archive-item:first-child .archive-item__title {
      font-size: 2rem;
      text-align: left; } }

.facetwp-pager {
  text-align: center;
  margin: 1rem 1rem 4rem; }
  .facetwp-pager .facetwp-pager-label {
    margin-right: 2rem; }

.single-story #header {
  padding-bottom: 25%; }

.footer-related-articles {
  margin: 2rem auto 8rem;
  max-width: 94rem; }
  .footer-related-articles__header {
    color: #F3E8D0;
    line-height: 1;
    font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
    font-size: 5rem;
    text-align: center; }
  .footer-related-articles__subheader {
    color: #C6893E;
    font-family: "mr-eaves-modern", Arial, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center; }
    .footer-related-articles__subheader:after {
      content: '';
      display: block;
      width: 75%;
      height: 2px;
      background: #F3E8D0;
      margin: 2rem auto; }
  .footer-related-articles__wrapper {
    margin-top: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center; }
    @media (min-width: 95em) {
      .footer-related-articles__wrapper {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
                justify-content: space-between; } }

.footer-related-article {
  max-width: 31rem;
  color: #F3E8D0;
  padding: 0 1rem;
  margin: 2rem 0; }
  .footer-related-article a.u-block {
    color: #FFF; }
  .footer-related-article__image {
    padding: 1rem;
    background: #FFF; }
  .footer-related-article__title {
    font-size: 2.5rem;
    line-height: 1;
    color: #FFF;
    font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
    text-align: center;
    margin: 1rem 0; }
  .footer-related-article__description {
    max-width: 24rem;
    margin: 1rem auto;
    font-size: 1.2rem; }

.recipe-embed {
  margin: 4rem 0; }
  .recipe-embed:before {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    margin: 0 auto;
    background: #000;
    margin-bottom: 4rem; }
  .recipe-embed__title {
    color: #C6893E;
    font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
    font-size: 5rem;
    line-height: 1;
    text-align: center; }
  .recipe-embed__subtitle {
    text-transform: uppercase;
    font-family: "mr-eaves-modern", Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    text-align: center;
    margin: 1rem 0; }
  .recipe-embed__card {
    margin-top: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
            align-items: stretch;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center; }
  .recipe-embed__info {
    background: #F3E8D0;
    padding: 2rem;
    width: 100%;
    max-width: 20rem;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
            order: 1; }
  .recipe-embed__info-title {
    font-family: "Timeout", "mr-eaves-modern", Arial, sans-serif;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem; }
  .recipe-embed__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 2rem;
    min-width: 20rem;
    min-height: 20rem;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
            order: -1; }
    @media (min-width: 41em) {
      .recipe-embed__image {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
                order: 2;
        -webkit-flex-basis: 0;
                flex-basis: 0;
        margin-left: 1rem;
        margin-bottom: 0; } }
  .recipe-embed__link {
    margin: 4rem 0; }

.global-search__wrapper {
  max-width: 1200px;
  border-bottom: 1px solid #FFF;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 1rem .25rem; }
  @media (min-width: 75em) {
    .global-search__wrapper {
      max-width: calc( 1200px + 3rem); } }

.global-search .social-media {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }
  @media (min-width: 75em) {
    .global-search .social-media {
      position: relative; } }
  .global-search .social-media .social-icon {
    margin-right: 1rem;
    max-width: 2rem; }

.global-search .searchform > div {
  max-width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  background: #FFF;
  border-radius: 999px;
  overflow: hidden; }
  @media (min-width: 75em) {
    .global-search .searchform > div {
      position: relative; } }

.global-search .searchform {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  max-width: 1200px; }
  .global-search .searchform input[type="text"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
    border: none;
    padding-left: .5rem;
    width: calc(100% - 4rem); }

.global-search input[type="submit"] {
  font-size: .75rem;
  padding: 1em;
  border: none; }

.search-results .tease {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 2rem;
  -webkit-align-self: stretch;
          align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 0 1rem; }
  @media (min-width: 56.25em) {
    .search-results .tease {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 50%;
              flex: 0 1 50%; } }

.search-item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%; }
  .search-item:hover:after {
    background: rgba(0, 0, 0, 0.5); }
  .search-item:hover .search-item__title span {
    background: #C6893E;
    box-shadow: -1rem 0 0 #C6893E, 1rem 0 0 #C6893E; }
  .search-item:after {
    content: '';
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
  .search-item > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    z-index: 10;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
            flex: 1 1 100%; }
  .search-item__title {
    padding: 4rem 2rem;
    color: #FFF;
    font-size: 2rem; }
    .search-item__title span {
      box-shadow: -1rem 0 0 transparent, 1rem 0 0 transparent;
      -webkit-box-decoration-break: clone;
              box-decoration-break: clone; }
  .search-item__post-type {
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    background: #C6893E;
    padding: .5rem;
    color: #FFF; }

.search-sidebar {
  display: block; }
  .search-sidebar .searchform > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    background: #FFF;
    border-radius: 999px;
    overflow: hidden; }
  .search-sidebar .searchform {
    margin-bottom: 2rem; }
    .search-sidebar .searchform input[type="text"] {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
      border: none;
      padding-left: .5rem;
      width: calc(100% - 4rem); }
  .search-sidebar input[type="submit"] {
    font-size: .75rem;
    padding: 1em;
    border: none; }

/* Printer Friendly Pages */
@media print {
  html, body {
    height: auto; }
  .single-recipe {
    background: url("https://eatwheat.org/wp-content/uploads/2018/10/wheat-logo-sample2.png") center center;
    background-repeat: no-repeat; }
  /* recipe page print styles */
  .recipe-template-default * {
    box-sizing: border-box;
    font-family: "mr-eaves-modern", Arial, sans-serif;
    box-shadow: none;
    text-shadow: none;
    color: #000;
    background: none !important; }
  .recipe-template-default #header:before {
    background: none !important; }
  .recipe-template-default .nav-wrapper,
  .recipe-template-default #fullscreen-recipe,
  .recipe-template-default .recipe-sidebar-button,
  .recipe-template-default .button,
  .recipe-template-default .article-body > p,
  .recipe-template-default .recipe-equipment,
  .recipe-template-default .post-type-recipe > img,
  .recipe-template-default .recipe-info__item img,
  .recipe-template-default .recipe-step__image,
  .recipe-template-default .recipe-sidebar__heading:nth-of-type(3),
  .recipe-template-default #footer {
    display: none; }
  .recipe-template-default h1,
  .recipe-template-default .recipe-sidebar__heading,
  .recipe-template-default .recipe-content__heading,
  .recipe-template-default .recipe-heading {
    font-size: 1rem;
    font-weight: bold; }
  .recipe-template-default p,
  .recipe-template-default .recipe-info,
  .recipe-template-default .recipe-header__story,
  .recipe-template-default .article-body > ul {
    font-size: 0.75rem; }
  .recipe-template-default #header {
    max-width: 100%;
    padding-bottom: 0.25rem;
    margin-bottom: 0; }
  .recipe-template-default .recipe-header__media {
    float: left;
    padding-top: 1rem;
    margin-top: 0;
    margin-right: 1.5rem;
    max-width: 250px;
    max-height: 300px;
    padding-bottom: 0;
    margin-bottom: 0; }
  .recipe-template-default .centered-text {
    text-align: left; }
  .recipe-template-default .recipe-heading {
    padding-top: 1.5rem;
    padding-bottom: 1.2rem; }
  .recipe-template-default .small-container {
    max-width: 39rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0; }
  .recipe-template-default .recipe-header__story {
    margin-top: 0; }
  .recipe-template-default .vue-wrapper {
    max-width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-right: 0;
    padding-right: 0; }
  .recipe-template-default .recipe-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0; }
  .recipe-template-default .recipe-sidebar {
    float: left;
    max-width: 17rem;
    padding: 0.5rem 0;
    line-height: 1;
    border-right: 1px solid #000; }
  .recipe-template-default .recipe-sidebar p {
    max-width: 16rem; }
  .recipe-template-default .recipe-info {
    vertical-align: left;
    margin-right: 0;
    padding-right: 0;
    max-width: 14rem; }
  .recipe-template-default .recipe-sidebar__heading {
    margin-top: 0.75rem;
    text-align: left; }
  .recipe-template-default .recipe-content__heading {
    margin-top: 1.3rem; }
  .recipe-template-default .article-body {
    max-width: 23rem;
    margin-top: 0;
    padding-top: 0; }
  .recipe-template-default .recipe-step {
    margin-bottom: 1rem; }
  /* Print styles for other pages / templates should be made below here */ }
/*# sourceMappingURL=style.css.map */