{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		
			{% block header %}
				<header id="header" class="header" style="background-image: url('{{ TimberImage(header_bg_image).src('xlarge') }}');"><!-- #header open -->
					<div class="global-search">
						<div class="global-search__wrapper">
							<nav class="social-media">
								<a href="{{ options.facebook }}" class="social-icon"><img src="{{ theme.link }}/static/images/facebook.png" alt="Eat Wheat Facebook Page" /></a>
								<a href="{{ options.pinterest }}" class="social-icon"><img src="{{ theme.link }}/static/images/pinterest.png" alt="Eat Wheat Pinterest Page" /></a>
								<a href="{{ options.instagram }}" class="social-icon"><img src="{{ theme.link }}/static/images/instagram.png" alt="Eat Wheat Instagram Feed" /></a>
								<a href="{{ options.twitter }}" class="social-icon"><img src="{{ theme.link }}/static/images/twitter.png" alt="Eat Wheat Twitter Feed" /></a>
							</nav>
							{{ function("get_search_form") }}
						</div>
					</div>
					<div class="nav-wrapper container">
						<nav id="nav-main" role="navigation" class="is-hidden-touch">
							{{ function('eatwheat_render_primary_menu') }}
						</nav>
						{# <div class="menu-toggle-container is-hidden-desktop">
							<button id="menu-toggle" class="fa fa-bars nav-toggle"><span class="screen-reader-text">Toggle Menu</span></button>
						</div> #}
					</div>
					{% block inside_header %}
					{% endblock %}
				</header><!-- #header close -->
			{% endblock %}

			{% block below_header %}
			{% endblock %}

			{% block above_content %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper content container">
				<div id="vue-wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
				</div> <!-- #vue-wrapper -->
			</section>

			{% block below_content %}
			{% endblock %}

			{% block above_footer %}
			{% endblock %}

			{% block footer %}
				<footer id="footer">
					{% block inside_footer %}
					{% endblock %}
					<div class="container align-center footer-item-wrap">
						<div class="left-wrap">
							<p class="credits">Eat Wheat &copy; Kansas Wheat {{ now|date('Y') }}</p>
							<p class="join-cta">To learn more and receive updates <a class="line-link" href="https://visitor.r20.constantcontact.com/manage/optin?v=001RgvbKVLa7a7azmqEwLauT_7zguqHeRW7hSCgt6aXeyKO5rbpHlg65kiUglZb7CTxl9YGcYY_emDNHZ0Z23WwOr3qEo2p2OMZUNOGxm_Y5xww3RHbs09f691XQwhBS3CCS660T_b705pbZViHoKtpW4_Aghm4kkXGtqY9DddKpCPJDRqls9xYeb6Cmi60lRdK2Vecrqw05KAQ-JqdD2gyQF2MiVPivf3M">Contact Us</a></p>
						</div>
						{% include 'logo.twig' with { class: 'hide-mobile' } %}
						<nav class="social-media">
							<a href="{{ options.facebook }}" class="social-icon"><img src="{{ theme.link }}/static/images/facebook.png" alt="Eat Wheat Facebook Page" /></a>
							<a href="{{ options.pinterest }}" class="social-icon"><img src="{{ theme.link }}/static/images/pinterest.png" alt="Eat Wheat Pinterest Page" /></a>
							<a href="{{ options.instagram }}" class="social-icon"><img src="{{ theme.link }}/static/images/instagram.png" alt="Eat Wheat Instagram Feed" /></a>
							<a href="{{ options.twitter }}" class="social-icon"><img src="{{ theme.link }}/static/images/twitter.png" alt="Eat Wheat Twitter Feed" /></a>
						</nav>
					</div>
					<div class="container">
						<a href="http://kswheat.com/" class="footer-affiliate-link"><img src="{{ theme.link }}/static/images/ks-wheat.png" class="footer-affiliate" /></a>
						<a href="http://www.wheatfoods.org/" class="footer-affiliate-link"><img src="{{ theme.link }}/static/images/wheat-foods-council.png" class="footer-affiliate" /></a>
					</div>
					<div class="agency container centered-text"><a href="https://weare502.com" rel="nofollow">Website designed by 502</a></div>
				</footer>
			{% endblock %}
			
			<div id="recipe-fullscreen" class="magnific mfp-hide">
				{% block fullscreen_popup %}
				{% endblock %}
			</div>
	
		{% block footer_scripts %}
			{# Include extra stuff in the document footer, JS etc #}
		{% endblock %}
		{{ function('wp_footer') }}
		<script src="https://use.typekit.net/xgh1eqi.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</body>
</html>
