{% extends "base.twig" %}

{% block inside_header %}
	<div class="container">
		<div class="fancy-heading home-heading">It's Not Complete &nbsp;&nbsp;&nbsp;<br>&nbsp; Without Wheat.</div>
	</div>
{% endblock %}

{% block content %}
<div class="home-cta-cards">
	<div class="cta-card">
		<div class="cta-card__image" style="background-image: url('{{ TimberImage(post.get_field('recipes_photo')).src('xlarge') }}');"></div>
		<div class="cta-card__info">
			<div class="cta-card__info-heading fancy-heading">Recipes</div>
			<p>{{ post.get_field('recipes_description') }}</p>
			<p class="centered-text"><a class="button cta-card__button" href="{{ post.get_field('recipes_link') }}">View All Recipes</a></p>
		</div>
	</div>
	<div class="cta-card cta-card--image-left">
		<div class="cta-card__image" style="background-image: url('{{ TimberImage(post.get_field('learn_photo')).src('xlarge') }}');"></div>
		<div class="cta-card__info">
			<div class="cta-card__info-heading fancy-heading">Learn</div>
			<p>{{ post.get_field('learn_description') }}</p>
			<p class="centered-text"><a class="button cta-card__button" href="{{ post.get_field('learn_link') }}">View All Articles</a></p>
		</div>
	</div>
	<div class="cta-card">
		<div class="cta-card__image" style="background-image: url('{{ TimberImage(post.get_field('stories_photo')).src('xlarge') }}');"></div>
		<div class="cta-card__info">
			<div class="cta-card__info-heading fancy-heading">Stories</div>
			<p>{{ post.get_field('stories_description') }}</p>
			<p class="centered-text"><a class="button cta-card__button" href="{{ post.get_field('stories_link') }}">View All Stories</a></p>
		</div>
	</div>
	<div class="cta-card cta-card--image-left">
		<div class="cta-card__image" style="background-image: url('{{ TimberImage(post.get_field('inspiration_photo')).src('xlarge') }}');"></div>
		<div class="cta-card__info">
			<div class="cta-card__info-heading fancy-heading">Get Inspired</div>
			<p>{{ post.get_field('inspiration_description') }}</p>
			<p class="centered-text"><a class="button cta-card__button" href="{{ post.get_field('inspiration_link') }}">Let's Get Inspired</a></p>
		</div>
	</div>
</div>
{% endblock %}