<header id="header" class="header"><!-- #header open -->
	<div class="nav-wrapper container">
		<nav id="nav-main" role="navigation" class="is-hidden-touch">
			{{ function('mcc_render_primary_menu') }}
		</nav>
		{# <div class="menu-toggle-container is-hidden-desktop">
			<button id="menu-toggle" class="fa fa-bars nav-toggle"><span class="screen-reader-text">Toggle Menu</span></button>
		</div> #}
	</div>
	{% block inside_header %}
	{% endblock %}
</header><!-- #header close -->