{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{ post.post_type }} article-wrapper" id="post-{{ post.ID }}">
		<div class="post-content">
			{{ post.content }}
		</div>
	</article>
{% endblock %}