<div class="recipe-embed">
	<div class="recipe-embed__title">{{ post.title }}</div>
	{% if subtitle %}
		<div class="recipe-embed__subtitle">{{ subtitle }}</div>
	{% endif %}
	<div class="recipe-embed__card">
		<div class="recipe-embed__info">
			<div class="recipe-embed__info-title">Recipe Info</div>
			<ul class="recipe-info">
				<li class="recipe-info__item">
					<span><img src="{{ theme.link }}/static/images/blender-black.png" alt="Blender Icon" /> Prep Time:</span>
					<span>{{ post.get_field('prep_time') }}</span>
				</li>
				{% if post.get_field('refridgeration') %}
					<li class="recipe-info__item">
						<span><img src="{{ theme.link }}/static/images/refridgerator-black.png" alt="Refridgerator Icon" /> Refrigeration:</span>
						<span>{{ post.get_field('refridgeration') }}</span>
					</li>
				{% endif %}
				{% if post.get_field('baking_time') %}
					<li class="recipe-info__item">
						<span><img src="{{ theme.link }}/static/images/oven-black.png" alt="Oven Icon" /> Baking Time:</span>
						<span>{{ post.get_field('baking_time') }}</span>
					</li>
				{% endif %}
				<li class="recipe-info__item">
					<span><img src="{{ theme.link }}/static/images/plate-black.png" alt="Plate Icon" /> Servings:</span>
					<span>{{ post.get_field('servings') }}</span>
				</li>
				{% if post.get_field('baking_temp') %}
					<li class="recipe-info__item">
						<span><img src="{{ theme.link }}/static/images/heat-wave-black.png" alt="Heat Wave Icon" /> Baking Temp:</span>
						<span>{{ post.get_field('baking_temp') }}</span>
					</li>
				{% endif %}
				<li class="recipe-info__item">
					<span><img src="{{ theme.link }}/static/images/fork-knife-black.png" alt="Fork Icon" /> Flavors:</span> 
					<span>{% for flavor in post.get_field('flavors') %}{{ flavor.flavor }}<br>{% endfor %}</span>
				</li>
			</ul>
		</div>
		<div class="recipe-embed__image" style="background-image: url('{{ TimberImage(post).src|resize(1200, 800, 'center') }}');"></div>
	</div>
	<p class="recipe-embed__link centered-text"><a class="button gold" href="{{ post.link }}">View the Whole Recipe</a></p>
</div>