{% extends "base.twig" %}

{% block inside_header %}
	<h1 class="archive-header-text fancy-heading">Recipes</h1>
{% endblock %}

{% block content %}
	<div class="archive-wrapper">
		<aside class="archive-sidebar">
			{# <div class="facet-section-wrap">
				<div class="archive-sidebar__header">Search</div>
				{{ function( 'facetwp_display', 'facet', 'recipe_search') }}
			</div> #}
			<div class="facet-section-wrap">
				<div class="archive-sidebar__header">Meal Type</div>
				{{ function( 'facetwp_display', 'facet', 'meal_types') }}
			</div>
			
			<div class="facet-section-wrap">
				<div class="archive-sidebar__header">Cooking Style</div>
				{{ function( 'facetwp_display', 'facet', 'cooking_styles') }}
			</div>
		</aside>

		<div class="archive-items facetwp-template">
			{% for post in posts %}
				<div class="archive-item">
					{% if loop.first %}
						<a class="u-block archive-item__image-link" href="{{ post.link }}"><img class="archive-item__image u-block" src="{{ TimberImage(post).src|resize(1000, 710, 'center') }}" alt="{{ TimberImage(post).alt }}" /></a>
					{% else %}
						<a class="u-block archive-item__image-link" href="{{ post.link }}"><img class="archive-item__image u-block" src="{{ TimberImage(post).src|resize(500, 355, 'center') }}" alt="{{ TimberImage(post).alt }}" /></a>
					{% endif %}
					<div class="archive-item__content-wrapper">
						<div class="archive-item__title"><a class="archive-item__link" href="{{ post.link }}">{{ post.title }}</a></div>
						<div class="archive-item__description">
							<p>
								{{ post.get_field('description') }}
								<br><br>
								<a class="archive-item__content-link" href="{{ post.link }}">View Recipe</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{{ function('facetwp_display', 'pager', true ) }}
	{# {% include "pagination.twig" %} #}
{% endblock %}