<div class="footer-related-articles">
	<div class="footer-related-articles__header">Related Articles</div>
	<div class="footer-related-articles__subheader">Explore Other Existing Stories, Articles, &amp; Recipes</div>
	<div class="footer-related-articles__wrapper">
	{% for article in related_articles %}
		{% if article.description is empty %}
			{% set description = article.preview.read_more(false).length(25) %}
		{% else %}
			{% set description = article.description %}
		{% endif %}
		<div class="footer-related-article">
			<a href="{{ article.link }}" class="u-block"><img class="footer-related-article__image u-block" src="{{ TimberImage(article).src|resize(500, 300, 'center') }}" alt="{{ TimberImage(article).alt }}" /></a>
			<a href="{{ article.link }}" class="u-block"><div class="footer-related-article__title">{{ article.title }}</div></a>
			<p class="footer-related-article__description">
				{{ description }}<br><br>
				<a href="{{ article.link }}">View More</a>
			</p>
			
		</div>
	{% endfor %}
	</div>
</div>