{% extends "base.twig" %}

{% block content %}
    <div class="archive-wrapper">
        <div class="archive-sidebar search-sidebar">
            <div class="archive-sidebar__header">Search Query</div>
            {{ function("get_search_form") }}

            <div class="facet-section-wrap">
                {{ function( 'facetwp_display', 'facet', 'content_type') }}
            </div>
        </div>
        <div class="archive-items facetwp-template">
            {% if posts is empty %}
                <h2>No results were found.</h2>
            {% endif %}
            {% for post in posts %}
                {% include ['tease-search.twig', 'tease-'~post.post_type~'.twig', 'tease.twig'] %}
            {% endfor %}
            {# {% include "pagination.twig" %} #}
            {{ function('facetwp_display', 'pager', true ) }}
        </div>
    </div>
{% endblock %}