{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
		<section class="article-content">
			<h1 class="page-title"><span>{{ post.title }}</span></h1>
			{% if post.thumbnail %}
				<img src="{{ TimberImage(post.thumbnail).src('large') }}" class="post-thumbnail" alt="{{ TimberImage(post.thumbnail).alt }}" />
			{% endif %}
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	</article>
	{% if post.comment_status != 'closed' %}
		<section class="comments">
			<div class="respond">
				<h3>Comments</h3>
				{{ function('comment_form') }}
			</div>
			<div class="responses">
				{% for cmt in post.get_comments() %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endblock %}
