{% extends "base.twig" %}

{% block inside_header %}
	{% set media = post.get_field('header_media') %}
	<div class="recipe-header__media">
		{% if media == "photo" %}
			<img src="{{ TimberImage(post.get_field('header_photo')).src('large') }}" alt="{{ TimberImage(post.get_field('header_photo')).alt }}" />
		{% elseif media == 'video' %}
			{{ post.get_field('header_video') }}
		{% endif %}
	</div>
	
	{% if post.get_field('story') %}
		<h1 class="fancy-heading recipe-heading centered-text">{{ post.title }}</h1>
		<div class="recipe-page-title centered-text"><span>{{ post.subtitle }}</span></div>
	{% else %}
		<h1 class="fancy-heading recipe-heading centered-text">{{ post.title }}</h1>
	{% endif %}
	{% if post.get_field('story') %}
		<div class="recipe-header__story small-container">
			{{ post.get_field('story') }}
		</div>
	{% else %}
		<div class="recipe-header__story small-container">
			{{ post.get_field('description') }}
		</div>
	{% endif %}

	{% if post.get_field('story_link') %}
		<div class="reciper-header__story-link">
			<a class="button" href="{{ post.get_field('story_link') }}">View the Whole Story</a>
		</div>
	{% endif %}
	
{% endblock %}

{% block content %}
<div class="recipe-wrapper">
	<aside class="recipe-sidebar">
		<div class="centered-text">
			<a href="#recipe-fullscreen" id="fullscreen-recipe" class="recipe-sidebar-button button">View in Fullscreen <img src="{{ theme.link }}/static/images/fullscreen.png" alt="Fullscreen Icon" /></a>
		</div>

		<div class="recipe-sidebar__heading fancy-heading u-fs-4">Equipment</div>
		<ul class="recipe-equipment">
			{% for equipment in post.get_field('equipment') %}
				<li>{{ equipment.item }}</li>
			{% endfor %}
		</ul>

		{% if post.get_field('notes') %}
			<div class="recipe-sidebar__heading fancy-heading u-fs-4">Project Notes</div>
			<p>{{ post.get_field('notes') }}</p>
		{% endif %}

	</aside>
	<article class="post-type-{{post.post_type}} article-wrapper recipe-content" id="post-{{post.ID}}">
		{% if post.thumbnail %}
			<img src="{{ TimberImage(post.thumbnail).src('large') }}" alt="{{ TimberImage(post.thumbnail).alt }}" class="post-thumbnail" />
		{% endif %}
		<div class="article-body">
			{{post.content}}
			<div class="recipe-content__heading fancy-heading gold-text u-fs-4">Items List</div>
			{% for i in post.get_field('ingredients') %}
				<div class="ingredient-item-heading">{{ i.item }}:</div>
				<ul>
					{% for ingredient in i.item_ingredients %}
						<li>{{ ingredient.ingredient }}</li>
					{% endfor %}
				</ul>
			{% endfor %}
			<div class="recipe-content__heading fancy-heading gold-text u-fs-4">Instructions</div>
			{% for phase in post.get_field('instructions') %}
				<div class="ingredient-item-heading">{{ phase.step_group }}</div>
				<ul>
					{% for step in phase.steps %}
						<li class="recipe-step">
							{% if step.image %}
								<img class="recipe-step__image" src="{{ TimberImage(step.image).src('large') }}" alt="{{ TimberImage(step.image).alt }}" />
							{% endif %}

							{{ step.step }}
						</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</article>
</div>
{% endblock %}

{% block fullscreen_popup %}
	<div class="recipe-fullscreen-content">
		<div class="recipe-content__heading fancy-heading gold-text u-fs-4">Instructions</div>
		<div class="step-counter centered-text">Step <span id="currentRecipeStep">1</span> of <span id="totalRecipeSteps"></span></div>
		<ul class="recipe-slider">
		{% for phase in post.get_field('instructions') %}
			{% for step in phase.steps %}
				<li class="recipe-step" data-phase="{{ phase.step_group }}">
					{% if step.image %}
						<img class="recipe-step__image" src="{{ TimberImage(step.image).src('large') }}" alt="{{ TimberImage(step.image).alt }}" />
					{% endif %}
					<div class="recipe-step__wrapper">
						{{ step.step }}
					</div>
				</li>
			{% endfor %}
		{% endfor %}
		</ul>
	</div>
	<nav class="recipe-fullscreen-nav">
		<button id="recipe-prev" class="hidden-button">&larr;&emsp; Previous Step</button>
		<button id="recipe-next">Next Step &emsp;&rarr;</button>
	</nav>
{% endblock %}

{% block inside_footer %}
	{% include 'related-articles.twig' %}
{% endblock %}