{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
		<section class="article-content">
			<h1 class="page-title"><span>{{ post.title }}</span></h1>
			<div class="page-subtitle">{{ post.get_field('subtitle') }}</div>
			<div class="article-body">
				{{post.content}}
			</div>
		</section>
	</article>
{% endblock %}

{% block inside_footer %}
	{% include 'related-articles.twig' %}
{% endblock %}
