{% extends "tease.twig" %}

{% block content %}
    <div class="search-item post-type-{{ post.post_type }}" style="background-image: url({{post.thumbnail.src}});">
        <a href="{{ post.link }}">
            <div class="search-item__post-type"><span class="screen-reader-text">Category: </span>{{ post.post_type }}</div>
            <h2 class="search-item__title"><span>{{post.title}}</span></h2>
        </a>
    </div>
{% endblock %}