.archive-header-text {
	font-size: 14vw;
	color: $white;
	margin: 0;
	line-height: 1;
	font-family: $font-fancy;
	text-align: center;
	padding: 4rem 1rem;

	@include mq($tablet){
		font-size: 7.5rem;
	}
}

.archive-wrapper {
	display: flex;
	padding: 4rem 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.archive-sidebar {
	background: $gold;
	color: $white;
	@include span(12);
	padding: 1rem 2rem;
	margin-bottom: 4rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	@include mq(800px){
		@include span(3);
		display: block;
		margin-bottom: 0;
	}

	@include mq(1440px){
		// padding: 1rem 6rem;
	}

	&__header {
		font-family: $font-fancy;
		font-size: 3rem;
		line-height: 1;
		text-align: center;
		margin: 1rem 0;
	}

	.facetwp-search {
		width: 100%;
	}

	.facetwp-checkbox {
		margin-bottom: 1rem;
		background-size: 1rem 1rem;
		padding-left: 1.5rem;
		font-size: 1.2rem;
	}

	a {
		color: $white;
	}
}

.archive-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	@include mq(750px){
		justify-content: flex-start;
	}

	@include mq(800px){
		.post-type-archive-recipe &, .search-results & {
			@include span(last 9);
		}
	}
}

.archive-item {
	width: 100%;
	margin: 1.5rem 0;
	padding: 0 1.5rem;
	max-width: 20rem;

	@include mq(800px){
		max-width: calc( (100% / 3 ) );
	}

	&__title {
		font-family: $font-heading;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin: 1rem 0;
		a {
			color: $gold;
		}
	}

	&__link {
		color: $black;
	}

	&__content-link {
		text-transform: uppercase;
		font-family: $font-heading;
		font-size: 1.25rem;
	}

	&__description {
		font-weight: 300;
		font-size: 1.2rem;
	}
}

body:not( [class*="paged"] ) {
	.archive-item:first-child {
		@include mq(750px){
			width: 100%;
			max-width: 100%;
			display: flex;
			justify-content: space-between;
			margin-top: 0;

			.archive-item__image-link {
				flex: 1 0 auto;
				flex-basis: calc((100% / 3) * 2 - 1rem );
				margin-right: 3rem;
			}

			.archive-item__title {
				font-size: 2rem;
				text-align: left;
			}
		}
	}
}

.facetwp-pager {
	text-align: center;
	margin: 1rem 1rem 4rem;

	.facetwp-pager-label {
		margin-right: 2rem;
	}
}