.button, a.button, input[type="submit"] {
	height: auto;
	text-transform: uppercase;
	font-weight: 400;
	vertical-align: middle;
	white-space: normal;
	line-height: 1;
	background: transparent;
	border-radius: 999px;
	padding: 1em 2em;
	color: $gold;
	font-size: 1em;
	text-decoration: none;
	display: inline-block;
	font-family: $font-heading;
	transition: all 50ms linear;
	border: 1px solid $gold;
	cursor: pointer;
	
	&:hover, &:active, &:focus {
		background-color: $gold;
		color: $white;
	}

	&:focus {
		outline: 1px dashed black;
	}

	&.is-large {
		font-size: 1.25em;
	}
}