@font-face {
	font-family: 'Timeout';
	// relative to loaded CSS file
	src: url('static/fonts/Timeout-Regular.eot');
	src: url('static/fonts/Timeout-Regular.eot?#iefix') format('embedded-opentype'),
		url('static/fonts/Timeout-Regular.woff') format('woff'),
		url('static/fonts/Timeout-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}