#footer {
	background: $black;
	background-image: url('static/images/footer-bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: $white;
	position: relative;
	padding-top: 8rem;
	padding-left: 1rem;
	padding-right: 1rem;

	body.single-story &, body.single-recipe &, body.single-learn &, body.single-inspiration & {
		// background: $slate;
		background-image: url('static/images/footer-bg-large.jpg');
		margin-top: 4rem;
	}

	&:before {
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		top: -2px;
		height: 35px;
		background-size: contain;
		background-image:url("static/images/paper-texture-black.png");
		background-repeat: repeat no-repeat;
	}

	.left-wrap {
		text-align: center;
		@include mq($tablet){
			text-align: left;
			@include span(5);
		}

		@include mq($menu-breakpoint) {
			padding-left: 3rem;
			margin-right: 0;
			padding-right: 0;
		}
	}
	.logo-wrapper {
		@include mq($tablet){
			@include span(2);
		}
	}

	.credits {
		font-size: .625rem;
	}

	.join-cta {
		text-transform: uppercase;
	}

	.footer-item-wrap {
		justify-content: space-between;
	}

	.social-media {
		text-align: center;
		@include mq($tablet){
			text-align: right;
			@include span(last 3);
			@include push(1);
		}

		.social-icon {
			margin: .5rem;
			display: inline-block;
			max-width: 2rem;
			@include mq(1240px){
				max-width: none;
			}
		}
	}

	.footer-affiliate {
		max-width: 7rem;
	}

	.footer-affiliate-link {
		display: inline-block;

		&:last-child {
			padding-left: 3rem;
		}

		@include mq($menu-breakpoint) {
			padding-left: 3rem;
		}
	}
}

// Agency Credit
#footer .agency {
	padding-bottom: 1rem;
	font-size: .75rem;
	margin-top: 2rem;
}