a {
	text-decoration: none;
	color: $gold;
	&:hover {
		text-decoration: underline;
	}
}

.gold-text {
	color: $gold;
}

.no-scroll {
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: -1;
}

.line-link {
	display: inline-block;
	&:before {
		content: '';
		display: inline-block;
		width: 1.25em;
		height: 1px;
		background: currentColor;
		margin-right: .25em;
	}
}

[type="text/template"] {
	display: none;
}

a.logo {
	display: block;
}

.table-row {
	display: table-row;

	> * {
		display: table-cell;
	}
}

.narrow-container {
	max-width: 960px;
	margin: 0 auto;
}

.top-bottom-padding {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.top-bottom-padding-small {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.mfp-content {
	[type="text/template"] {
		display: block;
	}
}

.mfp {
	background: $white;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	padding: 2rem;
}

.mfp-close {
	margin: 0;
}

.cta-card {
	box-shadow: 7px 4px 15px rgba($black, .2);
	overflow: hidden;
	@include container(1200px);
	margin: 0 auto 2rem;
	display: flex;
	align-items: stretch;
	background: $white;
	flex-direction: column;
	flex-wrap: wrap;

	@include mq($tablet){
		flex-direction: row;
		flex-wrap: none;
	}
}

.cta-card__image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 300px;

	@include mq($tablet){
		min-height: 450px;
		order: 2;
		@include span(last 7);
	}

	.cta-card--image-left & {
		@include mq($tablet){
			order: -1;
			@include span(7);
		}
	}
}

.cta-card__info {
	@include span(10);
	order: 1;
	align-self: center;
	padding: 1rem .5rem;

	p {
		font-size: 1.2rem;
	}
	
	@include mq($tablet){
		padding: 2rem 4rem;
		@include span(5);
	}

	.cta-card--image-left & {
		@include mq($tablet){
			@include span(last 5);
		}
	}
}

.cta-card__info-heading {
	text-align: center;
	color: $gold;
	line-height: 1;
	font-size: 3rem;

	@include mq($tablet){
		font-size: 5rem;
	}
}

.article-content, body.mce-content-body.post-type-story, body.mce-content-body.post-type-learn {
	margin: 0 auto;
	max-width: 60rem;

	img.aligncenter {
		margin: 4rem 0;
		
		@include mq($tablet){
			max-width: none;
			width: calc(100% + 12rem);
			margin: 4rem -6rem;
		}
	}

	img.alignright {
		margin: 2rem;
		@include mq($tablet){
			margin: 2rem -25% 2rem 4rem;
		}
	}

	img.alignleft {
		margin: 2rem;
		@include mq($tablet){
			margin: 2rem 4rem 2rem -25%;
		}
	}

	hr {
		width: 75%;
		margin: 4rem auto;
	}

	blockquote {
		color: $gold;
		font-size: 3rem;
		line-height: 1;
		font-family: $font-fancy;
		text-align: center;
		margin: 4rem 0;
	}

	.article-body {
		font-size: 1.3rem;
	}
}

.page-title {
	color: $gold;
	font-size: 5rem;
	line-height: 1;
	font-family: $font-fancy;
	text-align: center;
	margin: 0;
}

.page-subtitle {
	font-size: 1.25rem;
	font-family: $font-heading;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 4rem;
}