#header {
	background-color: $black;
	position: relative;
	padding-bottom: 4rem;
	padding-top: 0;
	margin-bottom: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;

	&:before {
		content: '';
		display: block;
		height: 100%;
		background: linear-gradient( to bottom, rgba($black, .75), transparent );
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	&:after {
		content: '';
		width: 100%;
		display: block;
		position: absolute;
		bottom: -2px;
		height: 35px;
		background-size: cover;
		background-image:url("static/images/paper-texture.png");
		background-repeat: no-repeat;
	}

	#primary-menu {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;

		@include mq(1160px){
			flex-wrap: no-wrap;
		}

		.menu-item {
			flex: 0 0 50%;
			list-style: none;
			text-align: center;
			padding: .5rem 1rem;
			
			@include mq(1160px){
				flex: 0 1 auto;
				text-align: left;
				padding: 0;
			}

			> a {
				display: inline-flex;
				align-items: center;
				text-transform: uppercase;
				color: $white;
				font-size: .75rem;
				padding: .5rem;
				text-decoration: none;
				font-family: $font-heading;
				line-height: 1;
				background: $white;
				color: $black;
				width: 90%;
				justify-content: center;

				@include mq(1160px){
					padding: 1rem .75rem;
					font-size: 1.5rem;
					background: none;
					color: $white;
					width: auto;
					justify-content: initial;

					&:before {
						content: '';
						display: inline-block;
						width: 1.75em;
						height: 1px;
						background: currentColor;
						margin-right: 1em;
					}
				}

				@include mq(1270px){
					padding: 2rem;
				}

				&:hover {
					color: $gold;
				}
			}			
		}
		.menu-divider-item {
			order: -1;
			width: 100%;
			flex: 0 0 100%;
			margin: .5rem 4rem 0;
			list-style: none;
			
			@include mq(1160px){
				order: initial;
				flex: 0 0 18rem;
				margin: 1rem 4rem 2rem;
			}

			a {
				display: block;
				max-width: 18rem;
				margin: 0 auto;
			}

			svg {
				width: 100%;
				height: auto;
				max-height: 4rem;
				@include mq(1160px){
					max-height: none;
				}
			}
		}

		.current-menu-item {
			background: none;
			border-radius: 0 0 1rem 1rem;
			> a {
				background: $gold;
				color: $white;
			}

			@include mq(1160px){
				background: $white;

				> a {
					background: none;
					color: $gold;
				}
			}
		}
	}

} // #header