.home {
	.home-heading {
		color: $white;
		line-height: 1;
		text-align: right;
		padding: 4rem 1rem;
		font-size: 14vw;
		white-space: nowrap;

		@include mq($tablet){
			font-size: 7.5rem;
			padding: 8rem 1rem;
		}
	}

	#header {
		padding-bottom: 24rem;
		background-color: $black;
		background-image: url('static/images/home-bg.jpg') !important;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom center;

		&:before {
			background: linear-gradient( to bottom, rgba($black, .5), transparent );
		}

	}

	#footer {
		padding-top: 14rem;
		margin-top: -10rem;
	}

	.home-cta-cards {
		margin-top: -24rem;
		margin-left: 1rem;
		margin-right: 1rem;
		position: relative;
		z-index: 10;
		// background: url('static/images/wheat-left.png'), url('static/images/wheat-right.png');
		// background-position: -10% 32rem, 100% 32rem;
		// background-repeat: no-repeat;
		// background-size: 500px;

		&:before {
			content: '';
			position: absolute;
			background: url('static/images/wheat-left.png');
			width: 60%;
			padding-bottom: 50%;
			height: 0;
			left: -250px;
			top: 32rem;
			display: block;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: -1;
			opacity: .25;
			transform: rotate(30deg);
		}

		&:after {
			content: '';
			position: absolute;
			background: url('static/images/wheat-right.png');
			width: 60%;
			padding-bottom: 50%;
			height: 0;
			right: -250px;
			bottom: 16rem;
			display: block;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: -1;
			opacity: .25;
			transform: rotate(-30deg);
			background-position: right center;
		}
	}
}