/* Printer Friendly Pages */

@media print {

	html, body {
		height: auto;
	}

	.single-recipe {
		background: url('https://eatwheat.org/wp-content/uploads/2018/10/wheat-logo-sample2.png') center center;
		background-repeat: no-repeat;
		//background-color: transparent;
	}

	/* recipe page print styles */
	.recipe-template-default {

		//global defaults ^
		* {
			box-sizing: border-box; //should be default; but fixed a lot of things by adding it here
			font-family: $font-body;
			box-shadow: none;
			text-shadow: none;
			color: $black;
			background: none !important;
		}

		#header:before {
			background: none !important;
		}

		//remove unecessary things
		.nav-wrapper,
		#fullscreen-recipe,
		.recipe-sidebar-button,
		.button,
		.article-body > p, // rogue <p> element on some recipes
		.recipe-equipment,
		.post-type-recipe > img,
		.recipe-info__item img,
		.recipe-step__image,
		.recipe-sidebar__heading:nth-of-type(3), // removes "equipment" heading
		#footer {
			display: none;
		}

		//font changes (titles / headings)
		h1,
		.recipe-sidebar__heading,
		.recipe-content__heading,
		.recipe-heading {
			font-size: 1rem; //10.5pt 
			font-weight: bold;
		}

		//font changes (list text / directions)
		p,
		.recipe-info,
		.recipe-header__story,
		.article-body > ul {
			font-size: 0.75rem; //9pt
		}

		//change header size and spacing
		#header {
			max-width: 100%;
			padding-bottom: 0.25rem;
			margin-bottom: 0;
		}

		.recipe-header__media {
			float: left;
			padding-top: 1rem;
			margin-top: 0;
			margin-right: 1.5rem;
			max-width: 250px;
			max-height: 300px;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		// remove centering (causes weird spacing if centered)
		.centered-text {
			text-align: left;
		}

		.recipe-heading {
			padding-top: 1.5rem;
			padding-bottom: 1.2rem;
		}

		//change width of recipe header container
		.small-container {
			max-width: 39rem;
			padding-bottom: 1.5rem; //prevents text from being cut off
			margin-bottom: 0;
		}

		//text changes
		.recipe-header__story {
			margin-top: 0;
		}

		//section id #content changes
		.vue-wrapper {
			max-width: 100%;
			margin-top: 0;
			padding-top: 0;
			margin-right: 0;
			padding-right: 0;
		}

		//remove spacing and extend width
		.recipe-wrapper {
			max-width: 100%;
			margin: 0;
			padding: 0;
		}

		//keep entire aside element left and change width
		.recipe-sidebar {
			float: left;
			max-width: 17rem;
			padding: 0.5rem 0;
			line-height: 1;
			border-right: 1px solid $black;
		}

		//prevent recipe notes from "hugging" the right border
		.recipe-sidebar p {
			max-width: 16rem;
		}

		//remove centering and spacing; now aligned with the sidebar heading
		.recipe-info {
			vertical-align: left;
			margin-right: 0;
			padding-right: 0;
			max-width: 14rem;
		}

		//spacing adjustments
		.recipe-sidebar__heading {
			margin-top: 0.75rem;
			text-align: left;
		}

		//move in line with left sidebar headings
		.recipe-content__heading {
			margin-top: 1.3rem;
		}

		//width and spacing adjustments to prevent overflow
		.article-body {
			max-width: 23rem;
			margin-top: 0;
			padding-top: 0;
		}

		.recipe-step {
			margin-bottom: 1rem; //scooch the instructions closer together
		}

	} // END .recipe-template-default (print styles)

	/* Print styles for other pages / templates should be made below here */
} // END print