/**
 * Recipes & Inspiration
 */

.single-recipe #header {
	background-color: $slate;
	background-size: initial;
	background-position: center center;
}

.recipe-heading {
	color: $white;
	font-size: 5rem;
	line-height: 1;
	margin: 0;
}

.recipe-page-title {
	color: $gold;
	font-family: $font-body;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: normal;
	margin: 0 0 1rem;
}

.recipe-sidebar {
	background: $gold;
	color: $white;
	@include span(12);
	min-width: 320px;
	padding: 1rem 2rem;
	margin-bottom: 4rem;

	@include mq(830px){
		@include span(4);
		margin-bottom: 0;
	}

	@include mq(1440px){
		padding: 1rem 6rem
	}
}

.recipe-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 4rem 1rem;
	flex-wrap: wrap;
}

.recipe-sidebar__heading {
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.recipe-content__heading {
	margin-top: 4rem;
	margin-bottom: 1rem;
	line-height: 1;
}

.recipe-content {
	font-size: 1.3rem;
	
	@include mq(830px){
		@include span(last 7);
	}
}

.recipe-info {
	list-style: none;
	margin: 0;
	padding: 0;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 1rem;

		img {
			width: 1.25rem;
			vertical-align: middle;
			margin-right: .5rem;
		}
		span {
			vertical-align: middle;
		}

		span:last-child {
			text-align: right;
		}
	}
}

.recipe-equipment {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		text-indent: -1rem;
	}

	li:before {
		content: "- ";
		text-indent: -1rem;
	}
}

.ingredient-item-heading {
	text-transform: uppercase;
}

.recipe-sidebar-button.button {
	background: $white;
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	
	img {
		vertical-align: middle;
		margin-left: 1rem;
	}
}

.recipe-header__media {
	max-width: 920px;
	border: .75vw solid $white;
	margin: 4rem auto;

	img {
		display: block;
	}
}

.recipe-header__story {
	color: $tan;
	margin-bottom: 2rem;
	margin-top: 2rem;
	padding: 0 1rem;
}

.reciper-header__story-link {
	text-align: center;
}

.recipe-step {
	list-style: none;
	margin-bottom: 4rem;

	&__image {
		display: block;
	}
}

#recipe-fullscreen {
	max-width: 100%;
	min-height: 90vh;
	width: 100%;
	padding: 0;

	display: flex;
	flex-direction: column;
}

.recipe-fullscreen-content {
	flex: 1 0 85vh;
	height: 85vh;
	padding: 2rem;
	max-height: 80vh;

	.recipe-content__heading {
		margin: 1rem 1rem 0;
		text-align: center;
		font-size: 3rem;
	}
}

.recipe-slider {
	margin: 0;
	padding: 0;
	overflow-y: hidden;

	.recipe-step.slick-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 50vh;
		max-height: 60vh;
		margin-bottom: 0;
		flex-direction: column;
		overflow-y: scroll;
		font-size: .8rem;

		@include mq(800px){
			flex-direction: row;
			min-height: 50vh;
			max-height: 60vh;
			font-size: 1rem;
		}
	}

	.recipe-step__wrapper {
		max-width: 45rem;
	}

	.recipe-step__image {
		margin-right: 2rem;
		max-width: 100%;

		@include mq(800px){
			flex: 0 0 auto;
			max-width: 60%;
			width: 100%;
		}
	}
}



.recipe-fullscreen-nav {
	flex: 0 0 10vh;
	height: 10vh;
	display: flex;

	button {
		flex: 0 0 50%;
		background: none;
		border: none;
		cursor: pointer;
		text-transform: uppercase;
		transition: all 100ms linear;
		vertical-align: middle;

		&:hover {
			background: $gold;
			color: $white;
		}

		&.hidden-button {
			visibility: hidden;
			pointer-events: none;
		}
	}
}