.recipe-embed {
	margin: 4rem 0;

	&:before {
		content: '';
		display: block;
		height: 1px;
		width: 50%;
		margin: 0 auto;
		background: $black;
		margin-bottom: 4rem;
	}

	&__title {
		color: $gold;
		font-family: $font-fancy;
		font-size: 5rem;
		line-height: 1;
		text-align: center;
	}

	&__subtitle {
		text-transform: uppercase;
		font-family: $font-heading;
		font-size: 1.25rem;
		line-height: 1;
		text-align: center;
		margin: 1rem 0;
	}
	
	&__card {
		margin-top: 4rem;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__info {
		background: $tan;
		padding: 2rem;
		width: 100%;
		max-width: 20rem;
		order: 1;
	}

	&__info-title {
		font-family: $font-fancy;
		font-size: 3rem;
		line-height: 1;
		text-align: center;
		margin-bottom: 1rem;
	}

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		flex: 1 1 100%;
		margin-bottom: 2rem;
		min-width: 20rem;
		min-height: 20rem;
		order: -1;
		@include mq(656px){
			order: 2;
			flex-basis: 0;
			margin-left: 1rem;
			margin-bottom: 0;
		}
	}

	&__link {
		margin: 4rem 0;
	}
}