.footer-related-articles {
	margin: 2rem auto 8rem;
	max-width: 94rem;

	&__header {
		color: $tan;
		line-height: 1;
		font-family: $font-fancy;
		font-size: 5rem;
		text-align: center;
	}

	&__subheader {
		color: $gold;
		font-family: $font-heading;
		font-size: 1.25rem;
		text-transform: uppercase;
		text-align: center;

		&:after {
			content: '';
			display: block;
			width: 75%;
			height: 2px;
			background: $tan;
			margin: 2rem auto;
		}
	}

	&__wrapper {
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include mq(1520px){
			justify-content: space-between;
		}
	}
}

.footer-related-article {
	max-width: 31rem;
	color: $tan;
	padding: 0 1rem;
	margin: 2rem 0;

	a.u-block {
		color: $white;
	}

	&__image {
		padding: 1rem;
		background: $white;
	}

	&__title {
		font-size: 2.5rem;
		line-height: 1;
		color: $white;
		font-family: $font-fancy;
		text-align: center;
		margin: 1rem 0;
	}

	&__description {
		max-width: 24rem;
		margin: 1rem auto;
		font-size: 1.2rem;
	}
}