.global-search {
    // background: $gold;

    &__wrapper {
        max-width: $desktop;
        border-bottom: 1px solid $white;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem .25rem;

        @include mq($desktop){
            max-width: calc( 1200px + 3rem );
        }
    }

    .social-media {
        display: inline-flex;
        align-items: center;
        @include mq($desktop){
            position: relative;
            // left: -2rem;
        }

        .social-icon {
            margin-right: 1rem;
            max-width: 2rem;
        }
    }

    .searchform > div {
        max-width: 300px;
        display: flex;
        justify-content: space-between;
        background: $white;
        border-radius: 999px;
        overflow: hidden;

        @include mq($desktop){
            position: relative;
            // right: -1rem;
        }
    }

    .searchform {
        display: flex;
        justify-content: flex-end;
        // margin: 0 auto;
        max-width: $desktop;

        input[type="text"] {
            flex: 1 1 auto;
            border: none;
            padding-left: .5rem;
            width: calc(100% - 4rem);
        }
    }

    input[type="submit"] {
        // background: $white;
        // color: $gold;
        // padding: .25rem;
        font-size: .75rem;
        padding: 1em;
        // border-radius: 0;
        border: none;
    }
}

.search-results {
    .tease {
        flex: 0 1 100%;
        margin-bottom: 2rem;
        align-self: stretch;
        display: flex;
        width: 100%;
        padding: 0 1rem;

        @include mq($tablet){
            flex: 0 1 50%;
        }
    }
}

.search-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex: 1 1 100%;

    &:hover {
        &:after {
            background: rgba($black, .5);
        }

        .search-item__title {
            span {
                background: $gold;
                box-shadow: -1rem 0 0 $gold, 1rem 0 0 $gold;
            }
            
        }
    }

    &:after {
        content: '';
        background: rgba($black, .75);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        // transition: background 200ms linear;
    }

    > a {
        display: flex;
        position: relative;
        z-index: 10;
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
    }

    &__title {
        padding: 4rem 2rem;
        color: $white;
        font-size: 2rem;

        span {
            // transition: all 200ms linear;
            box-shadow: -1rem 0 0 transparent, 1rem 0 0 transparent;
            box-decoration-break: clone;
        }
    }

    &__post-type {
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        background: $gold;
        padding: .5rem;
        color: $white;
    }
}

.search-sidebar {
    display: block;

    .searchform > div {
        display: flex;
        justify-content: space-between;
        background: $white;
        border-radius: 999px;
        overflow: hidden;
    }

    .searchform {
        margin-bottom: 2rem;

        input[type="text"] {
            flex: 1 1 auto;
            border: none;
            padding-left: .5rem;
            width: calc(100% - 4rem);
        }
    }

    input[type="submit"] {
        // background: $white;
        // color: $gold;
        // padding: .25rem;
        font-size: .75rem;
        padding: 1em;
        // border-radius: 0;
        border: none;
    }
}