$white: #FFF;
$black: #000;
$slate: #313131;

$gold: #C6893E;
$tan: #F3E8D0;

$red: #ff6347;

$light-grey: rgba( $black, .25 );
$grey: rgba( $black, .50 );
$dark-grey: rgba( $black, .75 );

$font-fancy: 'Timeout', 'mr-eaves-modern', Arial, sans-serif;
$font-heading: 'mr-eaves-modern', Arial, sans-serif;
$font-body: 'mr-eaves-modern', Arial, sans-serif;

$small-tablet: 400px;
$tablet: 900px;
$desktop: 1200px;

$menu-breakpoint: 1300px;