@import "reset";
@import "mq";
@import "susy2/susy";
@import "fonts";
* {
	box-sizing: border-box;
}
@import "variables";

#tinymce.wp-editor {
	padding: 1em !important;
	max-width: 60rem;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-body;
	overflow-x: hidden;
	background: transparent;
	color: $black;
	background: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

img {
	max-width: 100%;
	height: auto;
}

img.aligncenter {
	max-width: none;
	margin: 4rem 0;

	@include mq($tablet){
		width: calc(100% + 12rem);
		margin: 4rem -6rem;
	}
}

img.alignright {
	margin: 2rem;
	@include mq($tablet){
		margin: 2rem -25% 2rem 4rem;
	}
}

hr {
	width: 75%;
	margin: 4rem auto;
}

blockquote {
	color: $gold;
	font-size: 3rem;
	line-height: 1;
	font-family: $font-fancy;
	text-align: center;
	margin: 4rem 0;
}