/**
 * Theme Name: Eat Wheat Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.0
 */
@import "reset";
@import "mq";
@import "susy2/susy";
@import "fonts";
@import "variables";

* {
	box-sizing: border-box;
}
@import "grid";
@import "forms";
@import "tables";
@import "utilities";

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-body;
	overflow-x: hidden;
	color: $black;
	background: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

img {
	max-width: 100%;
	height: auto;
}
@import "header";
@import "footer";
@import "global-patterns";
@import "buttons";

#content {
	padding-left: .5rem;
	padding-right: .5rem;

	@include mq(1440px){
		padding-left: 0;
		padding-right: 0;
	}
}

@import "tinymce";
@import "blog";
@import "comments";
@import "home";
@import "bg-video";
@import "recipe";
@import "archive";
@import "stories";
@import "related-articles";
@import "recipe-embed";
@import "search";
@import "print-styles";